* {
    padding: 0;
    margin: 0;
    font-family: 'Great Vibes', cursive;
}

body {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (max-width: 720px) {
    .web {
        display: none;
    }
    #accueil-mobile {
        .menuburger {
            display: block;
            position: fixed;
            cursor: pointer;
            top: 2em;
            right: 4em;
            z-index: 1;
        }
        .menu {
            display: none;
            position: fixed;
            top: 2em;
            right: 4em;
            width: 35%;
            height: max-content;
            background-color: #fff;
            border: #B8860B 2px solid;
            border-radius: 15px;
            z-index: 2;
            padding: 20px;
            box-sizing: border-box;
                ul {
                    list-style: none;
                    margin-top: 1.5em;
                    text-align: center;
                }
                
                li {
                    margin-bottom: 15px;
                }

                a {
                    text-decoration: none;
                    color: #B8860B;
                    font-size: 1em;
                }
                
                .close-icon {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 1.5em;
                    cursor: pointer;
                    font-size: 1em;
                }
        }

        .title {
            position: absolute;
            bottom: 65%;
            font-family: 'Great Vibes', cursive;
            color: #B8860B;
            font-size: 3em;
            text-align: center;
        }
        #countdown {
            position: absolute;
            background-color: white;
            bottom: 35%;
            color: #B8860B;
            box-shadow: 1px 1px 17px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 1px 1px 17px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 1px 17px 0px rgba(0,0,0,0.75);
            font-size: 2.5em;
            text-align: center;
        }
        .answer {
            position: absolute;
            background-color: white;
            bottom: 15%;
            margin-left: 1em;
            margin-right: 1em;
            padding: 0.25em;
            border: #B8860B 2px solid;
            color: #B8860B;
            border-radius: 15px;
            font-size: 1.5em;
        }
        .bg {
            width: 100%;
            height: 100vh;
            object-fit: cover;
        }
    }

    #description-mobile {
        @media (max-height: 700px){
            .cadre {
                width: 98%;
                height: 80%;
                margin-left: auto;
                margin-top: auto;
            }
            .text {
                position: absolute;
                text-align: center;
                color: #B8860B;
                font-family: 'Great Vibes', cursive;
                font-size: 0.78em;
            }
            p {
                margin-bottom: 10px;
                width: 68%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (min-height: 700px) and (max-height: 850px) {
            .cadre {
                width: 98%;
                height: 85%;
                margin-left: auto;
                margin-top: auto;
            }
            .text {
                position: absolute;
                bottom: 26%;
                text-align: center;
                color: #B8860B;
                font-family: 'Great Vibes', cursive;
                font-size: 0.95em;
            }
            p {
                margin-bottom: 10px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (min-height: 850px) and (max-height: 1000px) {
            .cadre {
                width: 98%;
                height: 88%;
                margin-left: auto;
                margin-top: auto;
            }
            .text {
                position: absolute;
                bottom: 25%;
                text-align: center;
                color: #B8860B;
                font-family: 'Great Vibes', cursive;
                font-size: 1.1em;
            }
            p {
                margin-bottom: 10px;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    #programme-mobile {
        .title {
            width: 64%;
            position: absolute;
            top: 10%;
            left: 18%;
        }
        .programme {
            position: absolute;
            top: 18%;
            display: flex;
            gap: 2em;
            justify-content: space-between;
        }
        .text {
            list-style: none;
            color: #B8860B;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            gap: 3em;
        }
        li {
            width: 75%;
        }
        .line {
            width: 100%;
            height: 70vh;
        }
        .icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5em;
        }
        .icon {
            width: 70%;
        }
    }

    #mairie-mobile {
        .title {
            width: 50%;
            position: absolute;
            top: 8%;
            left: 25%;
        }
        .text {
            position: absolute;
            width: 80%;
            left: 10%;
            top: 17%;
            text-align: center;
            font-size: 0.75em;
            color: #B8860B;
        }
        .photo {
            position: absolute;
            width: 80%;
            bottom: 10%;
            left: 10%;
            border-radius: 20px;
        }
    }

    #salle-mobile {
        .title {
            width: 40%;
            position: absolute;
            top: 10%;
            left: 30%;
        }
        .text {
            position: absolute;
            width: 80%;
            left: 10%;
            top: 20%;
            text-align: center;
            font-size: 0.75em;
            color: #B8860B;

            h3 {
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
            }
        }
        .photo {
            position: absolute;
            width: 80%;
            bottom: 13%;
            left: 10%;
            border-radius: 20px;
        }
    }

    #sleep-mobile {
        .title {
            width: 64%;
            position: absolute;
            top: 10%;
            left: 18%;
        }
        .text {
            position: absolute;
            width: 80%;
            left: 10%;
            top: 22%;
            text-align: center;
            font-size: 0.75em;
            color: #B8860B;

            p {
                margin-bottom: 20px;
            }
        }
        .photo {
            position: absolute;
            width: 80%;
            bottom: 13%;
            left: 10%;
            border-radius: 20px;
        }
    }

    .home {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }
    .b-top {
        position: absolute;
        top: 0.10em;
        left: 0.10em;
        width: 40%;
        transform: rotate(-30deg) translateX(-1em) translateY(-1.5em);
        object-fit: cover;
    }
    .b-bot {
        position: absolute;
        bottom: 0.10em;
        right: 0.10em;
        width: 40%;
        transform: rotate(150deg) translateX(-1em) translateY(-1.5em);
        object-fit: cover;
    }
}

@media (min-width: 720px) {
    .mobile {
        display: none;
    }
}
